{# templates/contact_success.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nicolas Gurak{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="menu-top">
            {% include 'header/header-all.html.twig' %}
        </div>
        <div class="content">
            <div class="subcontent">
                <h2>Votre message a été envoyé avec succès !</h2>
                <p>Merci de nous avoir contacté.</p>
            </div>
        </div>
        <footer>
            {% include 'footer/footer.html.twig' %}
        </footer>
    </body>
</html>